/* landing page css*/

.landingPage
{
    position:relative;
    height: 100vh;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 10px #979494;
}

.landingContent
{
    max-width: 650px;
    margin: 60px 100px;
    
}

.landingContent h4{
    color: cadetblue;
    font-size: 25px;
    font-weight: 800;
    /* line-height: 60px; */
    margin-bottom: 30px;
    align-items: left;
    padding-right: 30%;
}

.landingContent p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    align-items: left;
    padding-right: 40%;
}


.landingContent p span{
    color:cadetblue;
    font-weight: 600;
}
img{
    position: absolute;
    top: 0px;
    right: 0px;
    
}


/* header style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr:#222327;
}

/* body{ */
/*      */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: 100vh; */
    /* min-height: 100vh; */
    /* background: var(--clr); */
/* } */

.navigation-bar{
    position: relative;
    height: 55px;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navTitle{
    float: left;
    padding: 10px;
}

.navTitle h1{
   
}

.navTitle p{
}
/*  */
.navigation-bar ul{
    display: flex;
    width: 350px;

}
/*  */
.navigation-bar ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    padding: 5px;
}

.list .login{
    justify-content: space-between;
}

.navigation-bar ul li a{
    position:relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
/*  */
.navigation-bar ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
/*  */
.navigation-bar ul li.active a .icon{
    transform: translateY(-32px);
}

/*  */
.navigation-bar ul li a .text{
    position: absolute;
    color:var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation-bar ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
/* .indicator{ */
    /* position: absolute; */
    /* top: -50%; */
    /* width: 70px; */
    /* height:70px; */
    /* background: skyblue; */
    /* border-radius: 50%; */
    /* border: 6px solid var(--clr); */
    /* transition: 0.5s; */
/* } */
/*  */
/*  */
/* .indicator::before */
/* { */
    /* content: ''; */
    /* position: absolute; */
    /* top:50%; */
    /* left: -22px; */
    /* width: 20px; */
    /* height: 20px; */
    /* background: transparent; */
    /* border-top-right-radius: 20px; */
    /* box-shadow: 1px -10px 0 0 var(--clr); */
/* } */
/*  */
/* .indicator::after */
/* { */
    /* content: ''; */
    /* position: absolute; */
    /* top:50%; */
    /* right: -22px; */
    /* width: 20px; */
    /* height: 20px; */
    /* background: transparent; */
    /* border-top-left-radius: 20px; */
    /* box-shadow: -1px -10px 0 0 var(--clr); */
/* } */
/*  */
/* .navigation-bar ul li:nth-child(1).active ~.indicator */
/* { */
    /* transform: translateX(calc(70px * 0)); */
/* } */
/*  */
/* .navigation-bar ul li:nth-child(2).active ~.indicator */
/* { */
    /* transform: translateX(calc(70px * 1)); */
/* } */
/*  */
/* .navigation-bar ul li:nth-child(3).active ~.indicator */
/* { */
    /* transform: translateX(calc(70px * 2)); */
/* } */
/*  */
/* .navigation-bar ul li:nth-child(4).active ~.indicator */
/* { */
    /* transform: translateX(calc(70px * 3)); */
/* } */
/*  */
/* .navigation-bar ul li:nth-child(5).active ~.indicator */
/* { */
    /* transform: translateX(calc(70px * 4)); */
/* } */

:root{
    --link:#000;
    --hover:#b00;
    --main:#000;
    --bg:#f0f0f0;
    --size:99vmin;
    --ratio:1/1.1;
    font-size: calc(var(--size)/100);
}
.landingpage{
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    font-family:tahoma;
    color:var(--main)
}
.container{
    width: calc(var(--size)* var(--ratio));
    margin:0 auto;
}
.logo{
    width:150px;
    padding:10px 0;
    cursor:pointer;
    border: 3px solid var(--main);
    position: relative;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    transition:all 0.2s;
}
.logo:hover{
    background: var(--main);
    color:var(--bg)
}

.intro{
    width:100%;
    text-align: center;
    overflow: hidden;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.intro-title{
    color:var(--main);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10vmin;
}

.intro-title p {
    font-size: 10px;
}